---
import Layout from '../layouts/PageLayout.astro';
import Header from '../components/widgets/Header.astro';
import Hero from '../components/widgets/Hero.astro';
import { DISCORD_LINK, GITHUB_LINK } from '../components/constants';

import GameCarouselReact from '~/components/dweam/GameCarouselReact';
import GameGridReact from '~/components/dweam/GameGridReact';
import LoadingOverlay from '~/components/dweam/LoadingOverlay';

const metadata = {
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <LoadingOverlay client:load />
  
  <GameCarouselReact client:load />
  <div class="mt-16">
    <GameGridReact client:load />
  </div>
</Layout>

